@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body,
html,
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.background {
  height: 100vh;
  max-width: 100vw;
  position: absolute;
  left: 0;
  z-index: -1;
  transform: scaleX(-1);
  opacity: 0.9;
  object-fit: cover;
}

.wrapper{
  min-height: 80%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3%;
  font-size: 1.2rem;
}

.answerChoices{
  min-width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
}

.loadingBanner{
  font-size: larger;
  color: black;
  font-weight: 500;
}

